<ul class="paginationHead">
    <li>
        10/100 elements
    </li>
    <li>
        <select id="" name="">
            <option value="5">5</option>
            <option value="10" selected>10</option>
            <option value="20">20</option>
            <option value="30">30</option>
        </select>
        entries per page
    </li>
</ul>
