{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<nav>
    <ul>
        <li>
            Content
            <ul>
                {% for item in content %}
                    <li>{{ item.title }}</li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</nav>
{% endblock %}
