{% extends 'admin/base.html.twig' %}

{% block body %}
    <main>
    <nav id="admin-navigation">
        <ul>
            <li>
                Views
                <ul id="view-list">
                </ul>
            </li>
            <li><a href="#" id="content">Content</a></li>
            <li>Assets</li>
            <li>Users</li>
            <li>Stats</li>
        </ul>
    </nav>
    <div id="admin-main">
        <p>Welcome to your Admin home page!</p>
    </div>
    </main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}
