/*
 * Colors
 */
$palettePrimary: #092c52;
$paletteSecondary: #1687c4;
$paletteDark: #1b1d2b;
$paletteLight: #d5e0eb;

$tableLightColor: #f9f9f9;
$tableBorderColor: #ccd0d4;

$deleteColor: #b11623;


body {
    font-family: "Roboto", sans-serif;
}

ul {
    padding: 0;
    list-style: none;
}

.bulletList {
    padding-left: 20px;
    list-style: square;

    li {
        padding-left: 5px;
    }
}

.adminFlexContainer {
    display: flex;
    align-items: stretch;

    height: 100vh;
    width: 100vw;

    padding-top: 30px;
}

#adminBar {
    width: 100%;
    display: flex;
    justify-content: space-between;

    position: fixed;
    z-index: 1;

    background-color: $paletteDark;
    color: white;

    margin: 0 auto;

    height: 30px;

    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 0.9em;
    line-height: 2em;

    a:hover {
        color: $paletteSecondary;
    }

    .leftBar {
        padding: 0 5px;
    }

    .leftBar > * {
        margin-right: 8px;
    }


    .rightBar {
        position: relative;
        padding: 0 5px;

        &:hover {
            background-color: $palettePrimary;
        }

        &:hover > .userLinks {
            display: block;
        }

        a {
            display: block;
        }

        .userLinks {
            position: absolute;
            top: 100%;
            right: 0%;
            background-color: $palettePrimary;
            margin: 0;
            padding: 15px;
            width: 200px;
            text-align: right;

            a {
                display: block;
            }

            display: none;
        }
    }
}

#admin-menu {
    $navPadding: 15px;
    width: 160px;
    flex-shrink: 0;

    background-color: $paletteDark;
    color: white;

    font-family: "Roboto", sans-serif;
    font-size: 1em;

    li {
        a {
            display: block;
            padding: 8px;

            &:hover, &.currentMenuEntry {
                background-color: $palettePrimary;
                color: $paletteSecondary;
            }

            &.currentMenuEntry {
                border-left: 6px solid $paletteSecondary;
            }
        }

    }
}

#admin-panel {
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: hidden;

    position: relative;

    padding: 0 15px 15px;

    .help {
        display: flex;
        justify-content: stretch;

        border: 1px solid $palettePrimary;
        border-top: none;
        position: relative;
        color: black;

        min-height: 150px;

        color: black;

        .helpItems {
            border-right: 1px solid $palettePrimary;
            padding-top: 10px;
            margin: 0;
            background-color: $paletteDark;
            color: white;
        }

        .helpSection {
            width: 130px;
            display: inline-block;
        }

        .helpContent {
            background-color: $palettePrimary;
            color: white;
            padding: 0 10px 10px 10px;
            line-height: 1.4em;
            font-size: 0.9em;

            div.current {
                display: block;
            }

            div:not(.current) {
                display: none;
            }
        }

        li {
            padding: 0;

            a {
                display: block;
                padding: 10px 0px 10px 10px;
            }
        }

        .helpSection  {
            &.current, &:hover {
                // border: 1px solid black;
                border-right: none;
                border-left: none;
                background-color: $palettePrimary;
                color: $paletteSecondary;
            }
        }
    }

    .toggleHelp {
        text-align: right;

        a {
            border: 1px solid black;
            border-top: none;
            display: inline-block;
            padding: 5px 10px;
            border-bottom-left-radius: 10px;
            background-color: $palettePrimary;
            color: white;
        }
    }

    .tools {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .search {
            width: 150px;
            transition: all ease 0.3s 0s;
            border: 1px solid $tableBorderColor;
            border-radius: 5px;
            padding: 7px;

            &:hover, &:focus {
                width: 350px;
                border: 1px solid $paletteSecondary;
                box-shadow: 0 0 3px $paletteSecondary;
            }
        }
    }

    .fullWidth {
        width: 100%;
    }

    .adminTable {
        margin: 30px 0;
        border: 1px solid $tableBorderColor;
        border-collapse: collapse;
        font-size: 0.9em;
        
        td {
            vertical-align: top;
            padding: 10px 15px;
        }

        th, tr {
            padding: 0;
        }

        th {
            padding: 10px 15px;
        }

        thead {
            border-bottom: 1px solid $tableBorderColor;
        }

        tbody tr:nth-of-type(odd) {
            background-color: $tableLightColor;
        }

        .emptyTable {
            text-align: center;
            width: 100%;
            font-style: italic;
            padding: 20px;
        }
        .textCell {
            text-align: left;
        }
        .numCell {
            text-align: right;
        }
        .largeCell {
            min-width: 300px;
        }

        .tinyCell {
            width: 45px;
            text-align: left;
        }

        tr:hover .actions {
            opacity: 1;
        }
    }

    .actions {
        font-size: 0.9em;
        opacity: 0.1;
        transition: all ease 0.3s 0s;

        li {
            margin: 0;
            padding: 0;
            display: inline;

            & + li {
                margin-left: 6px;
            }
        }
    }

    .adminForm {
        width: 100%;
        margin-bottom: 100px;

        fieldset {
            border: 1px solid $tableBorderColor;
            margin-bottom: 20px;

            legend {
                font-size: 1.2em;
                font-weight: bold;
                padding: 0 8px;
            }
        }

        .inputList {
            // max-width: 500px;

            li {
                display: flex;
                justify-content: left;
                text-align: left;

                padding-bottom: 15px;

                label {
                    width: 15%;
                }
                input, textarea {
                    width: 60%;
                }

                textarea {
                    height: 250px;
                    padding: 5px;
                }
            }
        }
    }
}

.beta::after {
    content: ' (beta feature)';
}

.button, .button:visited {
    color: $paletteSecondary;
    border: 1px solid $paletteSecondary;
    border-radius: 3px;
    padding: 0.15em 0.8em;
    font-weight: bold;
    transition: all ease 0.3s 0s;

    &.delete, &.cancel {
        color: $deleteColor;
        border-color: $deleteColor;

        &:hover {
            color: white;
            background-color: $deleteColor;
        }
    }

    &:hover {
        color: white;
        background-color: $paletteSecondary;
    }

    &.big {
        font-size: 1.2em;
    }
}

.buttonList {
    display: flex;
    justify-content: left;

    li + li {
        margin-left: 5px;
    }
}

.paginationPages {
    font-size: 0.9em;
    display: flex;
    justify-content: right;

    .navButton {
        display: block;
        color: $paletteSecondary;
        padding: 5px 0px;
        font-weight: bold;
        width: 30px;
        text-align: center;

        // border: 1px solid $paletteSecondary;
        // border-right: none;
        border-radius: 3px;

        transition: all ease 0.3s 0s;

        &:hover, &.current {
            color: white;
            background-color: $paletteSecondary;
        }
    }
}

.paginationHead {
    display: flex;
    justify-content: right;
    align-items: center;

    font-size: 0.9em;

    select {
        font-size: 0.9em;
    }

    li + li {
        margin-left: 20px;
    }
}

.adminSection {
    .adminItem {
        header {
            display: flex;
            align-items: center;

            h3 {
                margin: 0 10px 0 0;
            }
        }

        input {
            width: 600px;
        }
        textarea {
            width: 600px;
            height: 300px;
        }
    }
}

.flashBag {
    border: 4px solid $deleteColor;
    border-top: none;

    position: fixed;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    top: 30px;
    width: 75%;
    font-size: 1.3em;
    text-align: center;
    padding: 20px;
    background-color: white;
    font-weight: bold;

    .slideOut {
        animation: slideOut 1s ease 1 normal forwards running;
    }
}


/******************************************************************************
 * Utils classes
 *****************************************************************************/

/*
 * Hide an element
 */
.hidden {
    display: none!important;
}

/*
 * Modal window
 */
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

    .modalContent {
        background-color: #fff;
        position: relative;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        overflow-y: auto;

        max-height: 80vh;

        &.small {
            width: 470px;
            text-align: center;
        }

        .close {
            position: absolute;
            top: 0%;
            right: 0%;
            font-size: 1.7em;
            line-height: 0.5em;
            padding: 10px;

            &:hover {
                background-color: $deleteColor;
                color: white;
                // animation: rotate 0.5s ease 1 normal backwards;
            }
        }

        .buttonList {
            justify-content: space-between;
        }
    }
}


/******************************************************************************
 * Animations
 *****************************************************************************/

/*
 * Veritcal slide ou animation
 */
@keyframes slideOut {
    100% {
        transform: translateY(-100px);
    }
}

/*
 * Rotate an element
 */
@keyframes rotate {
    100% {
        transform: rotate(90deg);
    }
}
