$palettePrimary: #092c52;
$paletteSecondary: #1687c4;
$paletteDark: #1b1d2b;
$paletteLight: #d5e0eb;

ul {
    padding: 0;
    list-style: none;

    ul {
        padding-left: 20px;
    }
}

li {
    list-style: none;
}

.adminFlexContainer {
    display: flex;
    align-items: stretch;

    height: 100vh;
    width: 100vw;

    padding-top: 30px;
}

#adminBar {
    width: 100%;
    display: flex;
    justify-content: space-between;

    position: fixed;

    background-color: $paletteDark;
    color: white;

    margin: 0 auto;

    height: 30px;

    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 0.9em;
    line-height: 2em;

    a:hover {
        color: $paletteSecondary;
    }

    .leftBar {
        padding: 0 5px;
    }

    .leftBar > * {
        margin-right: 8px;
    }


    .rightBar {
        position: relative;
        padding: 0 5px;

        &:hover {
            background-color: $palettePrimary;
        }

        &:hover > .userLinks {
            display: block;
        }

        a {
            display: block;
        }

        .userLinks {
            position: absolute;
            top: 100%;
            right: 0%;
            background-color: $palettePrimary;
            margin: 0;
            padding: 15px;
            width: 200px;
            text-align: right;

            a {
                display: block;
            }

            display: none;
        }
    }
}

#admin-menu {
    $navPadding: 15px;
    width: 160px;

    background-color: $paletteDark;
    color: white;

    font-family: "Roboto", sans-serif;
    font-size: 1em;

    li {
        a {
            display: block;
            padding: 8px;
        }

        &:hover, &.activeMenu {
            background-color: $palettePrimary;

            a {
                color: $paletteSecondary;
            }
        }
    }
}

#admin-main {
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: hidden;

    .beta::after {
        content: ' (beta feature)';
    }

    .button {
        margin: 3px;
        padding: 8px;
        background-color: $paletteSecondary;
        color: white;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        border-radius: 6px;
    }
}
