$palettePrimary: #092c52;
$paletteSecondary: #1687c4;
$paletteDark: #1b1d2b;
$paletteLight: #d5e0eb;

body {
    font-family: "Roboto", sans-serif;
}

ul {
    padding: 0;
    list-style: none;
}

.bulletList {
    padding-left: 20px;
    list-style: square;

    li {
        padding-left: 5px;
    }
}

.adminFlexContainer {
    display: flex;
    align-items: stretch;

    height: 100vh;
    width: 100vw;

    padding-top: 30px;
}

#adminBar {
    width: 100%;
    display: flex;
    justify-content: space-between;

    position: fixed;

    background-color: $paletteDark;
    color: white;

    margin: 0 auto;

    height: 30px;

    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 0.9em;
    line-height: 2em;

    a:hover {
        color: $paletteSecondary;
    }

    .leftBar {
        padding: 0 5px;
    }

    .leftBar > * {
        margin-right: 8px;
    }


    .rightBar {
        position: relative;
        padding: 0 5px;

        &:hover {
            background-color: $palettePrimary;
        }

        &:hover > .userLinks {
            display: block;
        }

        a {
            display: block;
        }

        .userLinks {
            position: absolute;
            top: 100%;
            right: 0%;
            background-color: $palettePrimary;
            margin: 0;
            padding: 15px;
            width: 200px;
            text-align: right;

            a {
                display: block;
            }

            display: none;
        }
    }
}

#admin-menu {
    $navPadding: 15px;
    width: 160px;
    flex-shrink: 0;

    background-color: $paletteDark;
    color: white;

    font-family: "Roboto", sans-serif;
    font-size: 1em;

    li {
        a {
            display: block;
            padding: 8px;

            &:hover, &.currentMenuEntry {
                background-color: $palettePrimary;
                color: $paletteSecondary;
            }
        }

    }
}

#admin-panel {
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: hidden;

    position: relative;

    padding: 0 15px 15px;

    .help {
        display: flex;
        justify-content: stretch;

        border: 1px solid $palettePrimary;
        border-top: none;
        position: relative;
        color: black;

        min-height: 150px;

        color: black;

        .helpItems {
            border-right: 1px solid $palettePrimary;
            padding-top: 10px;
            margin: 0;
            background-color: $paletteDark;
            color: white;
        }

        .helpSection {
            width: 130px;
            display: inline-block;
        }

        .helpContent {
            background-color: $palettePrimary;
            color: white;
            padding: 0 10px 10px 10px;
            line-height: 1.4em;
            font-size: 0.9em;

            div.current {
                display: block;
            }

            div:not(.current) {
                display: none;
            }
        }

        li {
            padding: 0;

            a {
                display: block;
                padding: 10px 0px 10px 10px;
            }
        }

        .helpSection  {
            &.current, &:hover {
                // border: 1px solid black;
                border-right: none;
                border-left: none;
                background-color: $palettePrimary;
                color: $paletteSecondary;
            }
        }
    }

    .toggleHelp {
        text-align: right;

        a {
            border: 1px solid black;
            border-top: none;
            display: inline-block;
            padding: 5px 10px;
            border-bottom-left-radius: 10px;
            background-color: $palettePrimary;
            color: white;
        }
    }

    .beta::after {
        content: ' (beta feature)';
    }

    .button {
        margin: 3px;
        padding: 8px;
        background-color: $paletteSecondary;
        color: white;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        border-radius: 6px;
    }
}

.hidden {
    display: none!important;
}
