$bgColor: #1b1d2b;
$fgColor: #d5e0eb;
// $secondaryColor: #092c52;
$secondaryColor: #000;
$neonBlue: #5fddfc;
// $neonBlue: #c6e2ff;

// font sizes
$mobileFontSize: 1rem;
$neonColor: red;

$desktopWidth: 900px;

* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%; /*pour mettre en base 10 */
}
body {
    font-size: 1.6rem; /* on repasse en police 16 */
    margin: 0;
    text-align: center;

    background-color: $bgColor;
    color: $fgColor;
    font-family: 'Exo2Regular', serif;
}

ul {
    padding: 0;
    margin: 0;
    // font-size: 2em;
}

li {
    list-style: none;
}

nav {
    // font-family: 'VT323', serif;
    font-size: 2.5em;
    // background-color: #fff;
    box-shadow: 0 0 15px black;
    position: relative;
    z-index: 10;
    color: #fa004f;
    overflow: hidden;

    ul {
        display: flex;
        justify-content: space-between;
    }

    li:hover:before {
        content: "> ";
    }

    li:hover:after {
        content: " <";
    }
}

#presentation {
    background: bottom / cover no-repeat url('../images/retro_gridsvg.svg');
    background-color: #000;
    padding: 40px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    color: $neonBlue;
    overflow-wrap: anywhere;
    position: relative;

    .neonBox {
        padding: 30px;
        max-width: 900px;
        background-color: rgba(0, 0, 0, 0.9);
        // margin: 0 auto;
    }

    h1 {
        margin: 0;
        font-family: 'BeonRegular';
        font-weight: bold;
        font-style: normal;
        font-size: 5em;
        text-align: center;
        // text-shadow: 0 0 10px;
        // transform: rotateX(30deg) rotateY(30deg) rotateZ(0deg);
    }

    p {
        font-family: 'BeonRegular';
        font-style: normal;
        font-size: 3em;
        text-align: center;
        color: #fa004f;
        // color: #960c3f;
    }

    .lines {
        position: absolute;
        top: 0%;
        right: 0%;
        height: 100vh;
        width: 100vw;
        display: block;
        vertical-align: top;

        // perspective: 50px;
        // transform: rotateX(60deg) rotateY(0deg) rotateZ(0deg);
        // transform: translate3d(0px, 0%, 100em);
    }
}

.resume {
    text-align: center;
    // font-size: 2em;
    // padding: 15px;

    h2 {
        font-size: 2em;
        color: #fa004f;
        text-shadow: 0 0 10px;
        text-transform: uppercase;
    }

    h2::before {
        content: "> ";
    }
    h2::after {
        content: " <";
    }
    h2::after {
        content: " <";
    }

    section {
        border-top: 3px solid $neonBlue;
        border-bottom: 3px solid $neonBlue;
        box-shadow: 0 0 15px $neonBlue;
    }

    section:nth-of-type(even) {
        background-color: $secondaryColor;
    }
}

@keyframes buzz {
    70% {
        opacity: 0.9;
    }
}

.profile {
    text-align: center;
}

img.profile {
    max-width: 75%;
    height: auto;
    margin: 25px auto;
    border-radius: 50%;
}

main {
    position: relative;
}

@media screen and (min-width: $desktopWidth) {
    .flex-big {
        display: flex;
        justify-content: center;
    }

    .fullHeight {
        min-height: 100vh;
        min-width: 330px;
        text-align: center;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        flex: 1 1 Opx;
    }

    .resume section {
        // min-height: 100vh;
        margin: auto;
        padding: 200px 40px;

        h2 {
            margin-top: 0;
        }
    }

    .resume article {
        flex-basis: 0;
        flex-grow: 1;
        margin: 0 25px;
    }
}

footer {
    text-align: center;
    background-color: #000;
    padding: 15px;
}

// #contact a {
//     justify-content: center;
//     display: flex;
//     flex-grow: 0;
//     flex-basis: 0;
// }

.button {
    background-color: #000;
    padding: 25px;

    border: 3px solid $neonBlue;
    border-radius: 30px;
}

.social {
    font-size: 4em;
    margin-top: 20px;

    a {
        display: inline-block;

        @media screen and (min-width: $desktopWidth) {
            margin-left: 30px;
        }

        i {
            transition: all ease 0.3s 0s;
        }

        :hover {
            color: $neonBlue;
            text-shadow: 0 0 10px;
        }
    }

    @media screen and (min-width: $desktopWidth) {
        display: flex;
        justify-content: center;
    }
}
